@tailwind base;
@tailwind components;
@tailwind utilities;
 
body {
    -webkit-font-smoothing: antialised
}

@layer base {
    :root { 
        --color-background: #000000;
        --color-secondary: #212529;
        --color-text-base: #ffffff;
        --color-text-muted: #a5a5a5;
        --color-text-inverted: #9292df;
        --color-fill: #2D2DC8;
        --color-button-accent: #2D2DC8;
        --color-button-accent-hover: #1c1c9b;
        --color-button-muted: #6969DD;
    }
    .theme-white {
        --color-background: #ffffff;
        --color-secondary: #edf2f4;
        --color-text-base: #000000;
        --color-text-muted: #442d39;
        --color-text-inverted: #2D2DC8;
        --color-fill: #2D2DC8;
        --color-button-accent: #2D2DC8;
        --color-button-accent-hover: #1c1c9b;
        --color-button-muted: #9d9dec;
    }
}